* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fdca30;
  font-size: 150%; }

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  font-weight: 700; }
  nav a {
    color: black; }

/* ---------------------------------- */
/* ---------------------------------- */
header, footer {
  background: #fdca30;
  padding: 1rem; }

section {
  background: white;
  padding: 2rem 1rem; }

header h2 {
  position: relative; }

footer h2 {
  position: relative; }

/* ---------------------------------- */
/* ---------------------------------- */
h1 {
  font-size: 1.75rem;
  line-height: 1.2; }

h2, h3 {
  font-size: 1.5rem; }

/* ---------------------------------- */
/* ---------------------------------- */
input[type=email] {
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 500;
  position: relative;
  width: 60%;
  border-radius: 4px;
  border: 5px solid black;
  background: white;
  box-shadow: -3px -3px 0 white;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  z-index: 10; }

input[type=submit] {
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 500;
  background: black;
  border: 0;
  color: white;
  position: relative;
  width: 34%;
  box-shadow: -3px -3px 0 white;
  border-radius: 4px;
  padding: 13px 5px 14px;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 5;
  margin-left: 5px;
  max-width: 130px; }
  input[type=submit]:active {
    background: #7e6518;
    box-shadow: 0px 0px 0 white;
    top: -5px;
    left: -5px; }

@media only screen and (min-width: 30em) {
  /* 
  	Mobile breakpoint.
  */ }
@media only screen and (min-width: 40em) {
  /* 
  	Tablet breakpoint.
  */ }
@media only screen and (min-width: 50em) {
  /* 
  	Desktop breakpoint.
  */
  .wrap {
    max-width: 1000px;
    margin: 0 auto; }

  nav {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1.5rem;
    font-weight: 700; }
    nav a {
      color: black; }

  header, footer {
    background: #fdca30;
    padding: 2rem; }

  section {
    background: white;
    padding: 4rem 2rem; }

  header h2 {
    bottom: -4.5rem;
    position: relative; }

  footer h2 {
    top: -4.5rem;
    position: relative; }

  h1 {
    font-size: 5rem;
    line-height: 1.2; }

  h2, h3 {
    font-size: 4rem; }
    h2 em, h2 cite, h2 a, h3 em, h3 cite, h3 a {
      color: #fdca30;
      text-decoration: underline; }

  hr {
    border: 0;
    border-bottom: 10px solid black;
    margin: 3rem auto; }

  /*******************/
  input[type=email] {
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 500;
    position: relative;
    width: 60%;
    max-width: 550px;
    border-radius: 4px;
    border: 10px solid black;
    background: white;
    box-shadow: -5px -5px 0 white;
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    z-index: 10; }

  input[type=submit] {
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 500;
    background: black;
    border: 0;
    color: white;
    position: relative;
    width: 170px;
    box-shadow: -5px -5px 0 white;
    border-radius: 4px;
    padding: 19px 45px;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.115s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 5;
    margin-left: 10px; }
    input[type=submit]:active {
      background: #7e6518;
      box-shadow: 0px 0px 0 white;
      top: -5px;
      left: -5px; } }
@media only screen and (min-width: 60em) {
  /* 
  	Cinema breakpoint.
  */ }
