* {
  margin: 0;
  padding: 0; }

header, footer {
  background: #fdca30;
  padding: 2rem; }

header h2 {
  bottom: -2rem;
  position: relative; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }
  h2 em {
    color: #fdca30;
    text-decoration: underline; }
