//Colour
$yellow: #fdca30;



*{
	margin: 0;
	padding: 0;
}

//////////////////////


header, footer{
	background: $yellow;
	padding: 2rem;
}

header{
	h2{
		bottom: -2rem;
		position: relative;
	}
}


h1{
	
}

h2{
	em{
		color: $yellow;
		text-decoration: underline;
	}
}