//Colour
$yellow: #fdca30;



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background: $yellow;
	font-size: 150%;
}
//////////////////////

.wrap {
	
	max-width: 1000px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 1.5rem;
	font-weight: 700;
	
	
	a{
		color: black;
	}
}

header, footer {
	background: $yellow;
	padding: 2rem;
}

section{
	background: white;
	padding: 4rem 2rem;
}

header{
	h2{
		bottom: -4.5rem;
		position: relative;
	}
}

footer{
	h2{
		top: -4.5rem;
		position: relative;
	}
}


///

h1{
	font-size: 5rem;
	line-height: 1.2;
}

h2, h3{
	font-size: 4rem;
	
	em, cite, a{
		color: $yellow;
		text-decoration: underline;
	}
}

hr {
	border: 0;
	border-bottom: 10px solid black;
	margin: 3rem auto;
}


// INPUT

input[type=email]{
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 500;
	top: -2.5rem;
	position: relative;
	width: 60%;
	max-width: 550px;
	border-radius: 4px;
	border: 10px solid black;
	background: white;
	box-shadow: -5px -5px 0 white;
	padding: 10px 25px;
	font-size: 1.5rem;
	font-weight: 300;
	display: block;
	box-sizing: border-box;
}

input[type=submit]{
	visibility: hidden;
}





////////

@media (max-width: 700px){
	nav{ font-size: 1rem;}
	header h2 { bottom: -2.85rem;}
	footer h2 { top: -2.75rem;}
	body{ font-size: 100%;}
	h1 { font-size: 1.75rem; line-height: 1.2; }
	h2, h3 { font-size: 1.5rem; }
	input[type=email]{width: 100%; top: 0; font-size: 1.15rem;}

}