/* 
	Desktop breakpoint.
*/


.wrap {
	max-width: 1000px;
	margin: 0 auto;
}


nav{
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 1.5rem;
	font-weight: 700;
	
	a{
    background: $white;
    border-radius: 4px;
    color: $black;
    padding: 5px 12px;
    text-transform: lowercase;
	}
}

header, footer {
	background: $yellow;
	padding: 2rem;
}

section{
	background: white;
	padding: 4rem 2rem;
}

header{
	h2{
		bottom: -4.5rem;
		position: relative;
	}
}

footer{
	h2{
		top: -4.5rem;
		position: relative;
	}
}


///

h1{
	font-size: 5rem;
	line-height: 1.2;
	width: 100%;
}

h2, h3{
	font-size: 4rem;
	
	em, cite, a{
		color: $yellow;
		text-decoration: underline;
	}
}

hr {
	border: 0;
	border-bottom: 10px solid black;
	margin: 3rem auto;
}

/*******************/

// INPUT

input[type=email], input[type=submit]{
	top: -2.5rem;
}

input[type=email]{
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 500;
	position: relative;
	width: 60%;
	max-width: 550px;
	border-radius: 4px;
	border: 10px solid black;
	background: white;
	box-shadow: -0.313rem -0.313rem 0 white;
	padding: 10px 25px;
	font-size: 1.5rem;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	z-index: 10;
}

input[type=submit]{
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 500;
	background: $black;
	border: 0;
	color: $white;
	position: relative;
	width: 170px;
	box-shadow: -0.313rem -0.313rem 0 white;
	border-radius: 4px;
	padding: 19px 45px;
	font-size: 1.5rem;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	left: 0px;
	@include transition (all 0.115s $ease-in-out-quart);
	z-index: 5;
	margin-left: 10px;
	
	&:active{
		background: shade($yellow, 50%);
		box-shadow: 0px 0px 0 white;
		top: -2.813rem;
		left: -0.313rem;
	}
	
}


